<table class="table table-hover">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Title</th>
        <th scope="col">Comments</th>
        <th scope="col"><i class="far fa-thumbs-up"></i></th>
        <th scope="col"><i class="far fa-thumbs-down"></i></th>
        {% if show_actions %}
            <th scope="col">Actions</th>
        {% endif %}
    </tr>
    </thead>
    <tbody>
    {% for idea in ideas %}
        <tr>
            <td><a href="{{ path('idea_show', {'id' : idea.id }) }}">#{{ idea.id }}</a></td>
            <td><a href="{{ path('idea_show', {'id' : idea.id }) }}">{{ idea.title }}</a></td>
            <td>{{ idea.comments | length }}</td>
            <td>{{ idea.totalVoteUp }}</td>
            <td>{{ idea.totalVoteDown }}</td>
            {% if show_actions %}
                <td>
                    <a href="{{ path('idea_edit', {id: idea.id}) }}"><i class="far fa-edit"></i></a>
                </td>
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>