<div class="row idea-list mt-5">
    {% for idea in ideas %}
        {% set current_user_vote = current_user_votes[idea.id] is defined ? current_user_votes[idea.id] : null %}
        <div class="col-lg-12 idea-container pb-2 pt-2">
            <div class="float-left mr-3 btn-container {{ is_authenticate ? 'is_authenticate' : '' }}">
                {% include 'idea/_button_vote.html.twig' with {current_user_vote:current_user_vote, idea: idea} only %}
            </div>
            <a class="idea" href="{{ path('idea_show', {'id' : idea.id }) }}">
                <h2>{{ idea.title }} <span
                            class="badge badge-{{ badge_definer.getBadgeLevel(idea.status) }}">{{ idea.status.title }}</span>
                </h2>
                <span class="description">Posted by {{ idea.user.username }} {{ idea.creationDatetime | ago }}</span>
            </a>
            <span class="info-container">
                <a href="{{ path('idea_show', {'id' : idea.id }) }}#comment-container">
                    <i class="far fa-comment" aria-hidden="true"></i>
                    {% set count = idea.comments | length %}
                    {% transchoice count %}
                        {0} Comment|{1} 1 Comment|]1,Inf[ %count% Comments
                    {% endtranschoice %}
                </a>
                {% if show_actions %}
                    <a class="ml-3" href="{{ path('idea_edit', {id: idea.id}) }}"><i class="far fa-edit" aria-hidden="true"></i> Edit</a>
                {% endif %}
            </span>
        </div>
    {% endfor %}
</div>