{% extends 'base.html.twig' %}

{% block title %}{{ idea.title }}{% endblock %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <div class="float-left mr-3 btn-container {{ is_authenticate ? 'is_authenticate' : '' }}">
                {% include 'idea/_button_vote.html.twig' with {current_user_vote:current_user_vote, idea: idea} only %}
            </div>

            <h1>{{ idea.title }}</h1>

            <div id="idea-content"></div>
            <div class="hide js-idea-content">{{ idea.content | purify }}</div>

            <div class="row mt-5">
                <div class="col-md-9 p-0">
                    {% if is_authenticate %}
                        <div class="mb-2">Comment as {{ app.user.username }}</div>
                        {{ form_start(form) }}
                        {{ form_widget(form.content) }}
                        <div class="js-editor editor-container"></div>
                        <button class="btn btn-primary btn-outline-primary float-right mt-2 js-save-content">Send
                        </button>
                        {{ form_end(form) }}
                    {% else %}
                        <p class="alert alert-info mt-4" role="alert">
                            Before posting please
                            <a href="{{ path('fos_user_security_login') }}"
                               class="btn btn-outline-primary btn-sm ml-2 mr-2">Login</a>
                            or
                            <a href="{{ path('fos_user_registration_register') }}"
                               class="btn btn-outline-primary btn-sm ml-2">Register</a>
                        </p>
                    {% endif %}

                </div>
            </div>
        </div>
        <div id="comment-container" class="col-md-9">
            <div class="row mt-5">
                {% for comment in comments %}
                    {% include 'idea/_comment.html.twig' with {comment: comment, is_authenticate: is_authenticate, comment_votes: comment_votes} only %}
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
